# Be sure to enable this service: systemctl enable ripDisk.service
[Unit]
Description=Automatically rip inserted optical disks
After=dev-cdrom.device
BindsTo=dev-cdrom.device
Requisite=dev-cdrom.device

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ripDisk.sh
ExecStart=/usr/bin/eject /dev/cdrom
StandardOutput=journal

[Install]
WantedBy=dev-cdrom.device
